{% extends 'layout.html' %}
{% block content %}
<div class="border"><!--border div-->
<table>
    <tr><!--table headers-->
        <th>Operation Category</th>
        <th>Operation Success?</th>
        <th>Operation Reason</th>
        <th>Operation Name</th>
        <th>Operation Time</th>
        <th>Service Logged</th>
        <th>Operation Type</th>
    </tr>
    <!--generating table items-->
{%for i in graph_data%}
<tr>
    <td>
        {{i['category']}}
    </td>
    <td>
        {{i['result']}}
    </td>
    <td>
        {{i['resultReason']}}
    </td>
    <td>
        {{i['activityDisplayName']}}
    </td>
    <td>
        {{i['activityDateTime']}}
    </td>
    <td>
        {{i['loggedByService']}}
    </td>
    <td>
        {{i['operationType']}}
    </td>
</tr>
{%endfor%}
</table>
</div>
{% endblock %}