<!doctype html>
<html>
  <head>
   <title>AzurePull - {{title}}</title>
   <link rel = 'stylesheet' type = 'text/css' href = '/static/css/style.css'>
   <link rel='icon' href='/static/favicon/icon.ico' type='image/x-icon' >
  </head>
  
  <body>
    <content>
    {% include 'header.html'%}
    {% if user %}
    <h1>Hello, {{user}}!</h1>
    {% endif %}
    {% include 'navigation.html' %}
    {% block content %}
    {% endblock %}
    <div class='backgroundgradient'></div>
    <div class='backgroundimage'></div>
    <br>
    </content>
  </body> <!--including templates-->
</html>
