{% extends 'layout.html' %}
{% block content %}
<div class="border"> <!--border div-->
<table>
    <tr><!--table headers-->
        <th>Business Phone</th>
        <th>Account Name</th>
        <th>Given Name</th>
        <th>Surname</th>
        <th>Job Title</th>
        <th>Contact Mail</th>
        <th>Mobile Phone</th>
        <th>Office Location</th>
        <th>Preferred Language</th>
        <th>Logon Name</th>
    </tr>
{% for i in graph_data %} <!--generating table items-->
    <tr>
        <td>
            {{ i['businessPhones'] }}
        </td>
        <td>
            {{ i['displayName'] }}
        </td>
        <td>
            {{ i['givenName'] }}
        </td>
        <td>
            {{ i['surname'] }}
        </td>
        <td>
            {{ i['jobTitle'] }}
        </td>
        <td>
            {{ i['mail'] }}
        </td>
        <td>
            {{ i['mobilePhone'] }}
        </td>
        <td>
            {{ i['officeLocation'] }}
        </td>
        <td>
            {{ i['PreferredLanguage'] }}
        </td>
        <td>
            {{ i['userPrincipalName'] }}
        </td>
    </tr>
{% endfor %}
</table>
</div>
{% endblock %}